.form {
	width: 100%;
	max-width: 720px;
	margin-left: auto;

	@include breakpoint(lg) {
		margin: 0 auto;
		max-width: 380px;
	}

	&__title {
		@include h3;
		margin-bottom: 80px;
		text-align: center;

		@include breakpoint(xxx) {
			font-weight: 400;
			font-size: 30px;
			line-height: 32px;
			margin-bottom: 35px;
		}

		@include breakpoint(lg) {
			font-weight: 400;
			font-size: 24px;
			margin-bottom: 28px;
			margin-top: 24px;
		}
	}

	&__label {
		@include body1;
		margin-bottom: 8px;
		display: block;
	}

	&__input {
		border: 1px solid #939292;
		direction: rtl;
		padding: 0px 16px;
		line-height: 68px;
		border-radius: 4px;
		width: 100%;
		max-width: 348px;
		box-sizing: border-box;
		background: $light-grey;
		margin-bottom: 40px;

		&::placeholder {
			@include title;
			font-family: 'Assistant';
			background: $light-grey;
			direction: rtl;
			color: #AEAEAE;

			@include breakpoint(xxx) {
				font-weight: 400;
				font-size: 20px;
				line-height: 24px;
			}
		}

		&[name="tel"] {
			padding-right: 40px;
		}
		&[name="email"] {
			padding-right: 40px;
		}

		@include breakpoint(xxx) {
			max-width: 100%;
			margin-bottom: 24px;
			line-height: 53px;
		}

		@include breakpoint(md) {
			line-height: 38px;
		}
	}

	&__btn {
		background: $dark-grey;
		color: $bg-light;
		width: 100%;
		padding: 16px;
		text-align: center;
		border-radius: 4px;
		@include h5SemiBold;
		line-height: 18px;
		@include breakpoint(md) {
			font-size: 20px;
			line-height: 24px;
			font-weight: 400;
		}
	}
	.input {

		&__wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
	
			@include breakpoint(lg) {
				flex-direction: column;
			}
		}
	
		&__inner {
			width: 100%;
		}
	
		&__content {
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			position: relative;
	
		}
		&__img-cons {
			position: absolute;
			right: 8px;
			top: 20%;
		}
	}
}

