.modal-cart {
	background: #00000075;
	padding-top: 0;
	position: fixed;
	top: 73px;
	width: 100%;
	height: 100vh;       
	max-height: calc(100vh - 70px);
	left: 0;
	right: 0;
	opacity: 0;
	z-index: -1;
	transition: all 0.4s ease;
}

.modal-cart__wrapper {
	width: 100%;
	max-width: 1096px;
	background: $bg-light;
	height: 100%;
	position: relative;
	transform: translateX(100%);
	opacity: 0;
	transition: all 0.4s ease;
	@media (max-width: 1170px) {
		max-width: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
	}
}

.close-modal-cart {
	position: absolute;
	left: -79px;
	cursor: pointer;
}

.modal-cart__wrap {
	padding: 32px 80px 24px 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: inherit;
	@media (max-width: 1170px) {
		padding: 24px 24px;
	}
	@include breakpoint (xs) {
		padding: 15px;
	}
}

.modal-cart__inner-top {
	width: 100%;
	max-height: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	flex-shrink: 1;
	@include breakpoint (lg) {
		margin: 0 -24px;
		width: calc(100% + 48px);
		background: #FFFFFF;
		padding-right: 24px;
		padding-left: 24px;
		position: relative;
		z-index: 4;
		overflow: initial;
		max-height: fit-content;
	}
	@include breakpoint (xs) {
		padding: 0px 15px;
		margin: 0 -15px;
		width: calc(100% + 30px);
	}
}

@media (min-width: 992px) {
	.nano-modal-cart {width: 100%; height: 1000px; }
	.nano-modal-cart .nano-content { right: 0; padding-left: 10px; }
	.nano-modal-cart .nano-pane   { background: #888; }
	.nano-modal-cart .nano-slider { background: #111; }
}

@include breakpoint (lg) {
	.nano-modal-cart .nano-content {
		position: relative;
		overflow: initial;
		overflow-x: inherit;
	}
	.nano {
		overflow: inherit;
	}
}

#modal-cart__form:focus-visible, 
#modal-cart__form:focus {
	outline: 0;
   outline-offset: 0;
	border: 0;
}


.modal-cart.active {
	opacity: 1;
	z-index: 210;
	transform: translateX(0%);
}

.modal-cart.active .modal-cart__wrapper {
	transform: translateX(0%);
	opacity: 1;
	transition: all 0.4s ease;
}
