	.benefits {
		background: url('../img/benefits/ben-bg.jpg');
		padding-top: 240px;
		padding-bottom: 352px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		display: flex;
		flex-direction: column;
		gap: 89px;
		justify-content: center;
		position: relative;
		overflow: hidden;
		z-index: 2;

		&::after {
			position: absolute;
			content: "";
			background: #F1F7D8;
			filter: blur(250px);
			width: 826px;
			height: 100%;
			bottom: 0;
			left: 0;
			z-index: -1;
		}

		@include breakpoint(xlg) {
			padding: 125px 0px;
		}
		@include breakpoint(md) {
			padding: 100px 0px 135px 0px;
		}

		@include breakpoint(xs) {
			background: url('../img/benefits/ben-bg-mob.jpg');
			padding-top: 240px;
			padding-bottom: 352px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			padding: 100px 0px;
		}

		&__wrapper {
			z-index: 2;
		}

		&__title {
			margin-bottom: 140px;
			z-index: 2;

			@include breakpoint(lg) {
				margin-bottom: 0;
			}
		}

		&__text {
			@include h4;
			width: 100%;
			max-width: 1000px;
			z-index: 2;

			@include breakpoint(lg) {
				max-width: 100%;
				font-weight: 400;
				font-size: 20px;
				line-height: 24px;
			}

			@include breakpoint(md) {
				direction: ltr;
			}
		}

		&__list {
			display: flex;
			justify-content: space-between;
			margin: 0 auto;
			margin-top: 128px;
			width: 80%;
			position: relative;
			z-index: 2;

			@include breakpoint(lg) {
				display: grid;
				grid-template-columns: repeat(5,1fr);
				margin-top: 58px;
				justify-content: center;
				gap: 47px;
				row-gap: 48px;
			}
			@include breakpoint(md) {
				gap: 44px;
			}
			@include breakpoint(sm) {
				grid-template-columns: repeat(3,1fr);
				justify-items: center;
			}
			@include breakpoint(xs) {
				-moz-transform: scaleX(-1);
				-o-transform: scaleX(-1);
				-webkit-transform: scaleX(-1);
				transform: scaleX(-1);
			}
		}

		&__img {
			width: 64px;
			height: 64px;
			object-fit: contain;
			cursor: pointer;
			opacity: 1;
			transition: opacity 0.2s;

			@include breakpoint(xxx) {
				width: 48px;
				height: 48px;
			}
		}

		&__inner {
			position: absolute;
			width: 100%;
			max-width: 1160px;
			border-radius: 4px;
			filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.3));
			padding: 34px 50px;
			background: $bg-light;
			border-radius: 4px;
			margin-top: 27px;
			margin-right: -90px;
			right: inherit;
			transform: translateY(100%);
			opacity: 0;
			z-index: -1;
			transition: all 0.3s ease;

			@include breakpoint (md) {
				padding: 16px 24px;
				max-width: 360px;
			}


		}

		.benefit-text {
			direction: rtl;
		}

		&__item {
			&::after {
				position: absolute;
				content: "";
				width: 0;
				height: 0;
				margin-top: 78px;
				opacity: 0;
				margin-right: -45px;
				border-style: solid;
				border-width: 0px 12px 19px 12px;
				border-color: transparent transparent $bg-light transparent;
				@include breakpoint(xxx) {
					margin-top: 64px;
					margin-right: -35px;
				}
			}

			&:nth-child(1) {
				.benefits__inner {
					@include breakpoint (md) {
						margin-right: -30px;
					}
					@include breakpoint (xs) {
						left: inherit;
					}
				}
			}
			&:nth-child(2) {
				.benefits__inner {
					@include breakpoint (sm) {
						margin-right: -90px;
					}
					@include breakpoint (xs) {
						left: inherit;
					}
				}
			}
			&:nth-child(3) {
				.benefits__inner {
					left: 30px;
					@include breakpoint (sm) {
						margin-right: -179px;
					}
					@include breakpoint (xs) {
						margin-right: -179px;
						left: inherit;
					}
				}
			}
			&:nth-child(4) {
				.benefits__inner {
					left: 30px;
					@include breakpoint (sm) {
						margin-right: -65px;
					}
					@include breakpoint (xs) {
						margin-right: -30px;
						left: inherit;
					}
				}
			}
			&:nth-child(5) {
				.benefits__inner {
					left: 6px;
					@include breakpoint (sm) {
						left: -50px;
					}
					@include breakpoint (xs) {
						margin-right: -90px;
						left: inherit;
					}
				}
			}
			&:nth-child(6) {
				.benefits__inner {
					margin-right: -67px;
					left: 20px;
					@include breakpoint(md) {		
					}
					@include breakpoint (sm) {
						margin-right: -280px;
						left: inherit;
					}
					@include breakpoint (xs) {
						margin-right: -179px;
					}
				}
			}
			&:nth-child(7) {
				.benefits__inner {
					left: 94px;
					@include breakpoint (sm) {
						margin-right: -53px;
						left: inherit;
					}
					@include breakpoint (xs) {
						margin-right: -30px;
						left: inherit;
					}
				}
			}
			&:nth-child(8) {
				.benefits__inner {
					left: 40px;
					@include breakpoint (sm) {
						margin-right: -240px;
						// left: inherit;
					}
					@include breakpoint (xs) {
						margin-right: -90px;
						left: inherit;
					}
				}
			}
			&:nth-child(9) {
				.benefits__inner {
					left: -50px;
					@include breakpoint (sm) {
						margin-right: -144px;
						// left: inherit;
					}
					@include breakpoint (xs) {
						margin-right: -179px;
						left: inherit;
					}
				}
			}
			&:nth-child(10) {
				@include breakpoint (sm) {
					grid-column-start: 2;
				}
				.benefits__inner {
					left: -50px;
					@include breakpoint (xs) {
						margin-right: -90px;
						left: inherit;
					}
				}
			}

			@include breakpoint(md) {
				&::before {
					position: absolute;
					content: "...";
					margin-top: 33px;
					font-size: 18px;
				}
			}
		}

		.open.benefits__item {
			&::after {
				opacity: 1;
				transition: opacity .9s ease;
			}
		}

		.open .benefits__inner {
			opacity: 1;
			z-index: 203;
			transform: translateX(0%);
			transition: all 0.3s ease;
			
		}

	}